/problematicas/problema04/target/
/problematicas/problema1/problema1/nbproject/private/
/problematicas/problema2/problema2/nbproject/private/
/problematicas/problema3/problema3/nbproject/private/
/problematicas/problema04/problema04/nbproject/private/
/problematicas/problema5/problema5/nbproject/private/
/problematicas/problema6/problema6/nbproject/private/
/problematicas/problema7/problema7/nbproject/private/
/problematicas/problema1/problema1/build/
